<%= turbo_stream_from @post %>

<p style="color: green"><%= notice %></p>
<section class="d-flex justify-content-between">
  <div>
    <%= link_to "Back to posts", posts_path, class: "btn btn-info shadow-lg p-2 m-2 rounded text-white" %>    
  </div>
  <h1 class="display-6">Post</h1>
</section>

<%= render @post %>
<hr>
<%= render "posts/comments", post: @post %>


<div class="d-flex">
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary shadow-lg p-2 m-2 rounded" %> 
  <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger shadow-lg p-2 m-2 rounded" %>
</div>
